body{
  font-family: 'Just Another Hand', cursive;
}

.row{
  width: 1000px;
  margin: 0 auto;
}

.img_item{
  box-shadow: 1px 1px 2px 2px #cecece;
  display: none;
  margin: 0 auto;
}

img{
  width: 800px;
  height: 500px;
}

p{
  font-size: 35px;
}

.visibile{
  display: block;
}

i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3px;
  cursor: pointer;
}
.prev{
  left: 10%;
}
.next{
  right: 10%;
}
